.ng-invalid.ng-touched:not(form) {
  border: 1px solid #8b0000;
}

.error {
  display: block;
  padding: 5px 10px;
  margin: 5px auto;
  font-size: 80%;
  width: 200px;
  background-color: #ff6d00;;
  color: #FFFFFF;
}
