<section class="section-content center">
  <h2>Zarejestruj</h2>
  <form #form="ngForm" (ngSubmit)="register()">
    <div>
      <div>
        <p>Login: </p>
        <input type="text" [(ngModel)]="model.username" name="username" id="username" #username="ngModel" required/>
      </div>
      <ng-container *ngIf="username.invalid && username.touched">
        <div class="error">
          Pole nie może być puste.
        </div>
      </ng-container>

      <div>
        <p>Hasło: </p>
        <input type="text" [(ngModel)]="model.password" name="password" id="password" #password="ngModel" required/>
      </div>
      <ng-container *ngIf="password.invalid && password.touched">
        <div class="error">
          Pole nie może być puste.
        </div>
      </ng-container>
    </div>
    <button type="submit" class="btn" [disabled]="form.invalid">Zarejestruj</button>
  </form>
</section>
