<section class="section-content">
  <h2>Projekt</h2>
  <p>Witaj,</p>
  <p>Dziękuję, że znalazałaś/eś czas na poznanie się z moim projektem.</p>
  <h3>Opis</h3>
  <p>Aplikacja webowa pozwalająca na zbieranie ofert pracy z różnych źródeł dla Junior
    Java Developerów (strony www, inne aplikacje webowe). Główną funkcją aplikacji jest
    pobranie aktualnych ofert pracy ze stron www.</p>
</section>
<section class="section-content">
  <h2>Technologie</h2>
  <p>Spring Boot: Web (RestControllers), Test, Data Mongodb, Validation, Security, JWT,
    Spring Scheduler, Java 17, Mongo DB + MongoExpress, Docker & Docker-Compose
    & Docker Desktop, Wiremock, Log4j2, Testcontainers, RestTemplate, json, HTTP,
    MockMvc, Awaitility, Testy Jednostkowe (JUnit5, Mockito, AssertJ), Testy
    Integracyjne SpringBootTest, MockMvc, SpringSecurityTest, Lombok, Redis & Jedis
    & Redis-Commander, Maven, Github, IntelliJ Ultimate, Swagger, Angular, HTML5, CSS.</p>
</section>
<section class="section-content">
  <h2>Kontakt</h2>
  <p>W przypadku pytań proszę o kontakt:</p>
  <p>twodzinski@op.pl</p>
</section>

