<nav class="nav">
  <div>
    <a routerLink="/information" routerLinkActive="active" class="btn">Strona Główna</a>
    <ng-container *ngIf="!auth.isLogged">
    <a routerLink="/login" routerLinkActive="active" class="btn" >Zaloguj</a>
    <a routerLink="/register" routerLinkActive="active" class="btn">Zarejestruj</a>
    </ng-container>
    <ng-container *ngIf="auth.isLogged">
    <a routerLink="/offer" routerLinkActive="active" class="btn">Oferty</a>
    <a (click)="auth.logout('Wylogowano')" routerLinkActive="active" class="btn">Wyloguj</a>
    </ng-container>
  </div>
</nav>
<router-outlet></router-outlet>
