* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: Roboto, Verdana,  serif;
  font-style: normal;
  text-align: left;
  color: #FFFFFF;
  background-color: #060e1b;
}

.header-img {
  position: relative;
  height: 280px;
  background-image: url('./img/logo.jpg');
  background-size: cover;
  background-position: 0 15%;
  width: 100%;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #ff6d00;
  text-align: center;
  text-shadow: 0px 0px 8px #000000;
  z-index: 5;
}

.header-text h1 {
  margin-bottom: 5px;
  font-size: 400%;
  color: #ff6d00;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,3,27,0.2);
}

.nav {
  text-align: center;
  font-weight: 700;
  border-top: 6px solid #ff6d00;
  background-color: #2f4050;
  bottom: 0;
  box-shadow: 0px 0px 8px #0a0a0b;
}

h2 {
  color: #ff6d00;
}

.btn {
  font-family: Roboto, Verdana,  serif;
  font-weight: 700;
  font-size: 16px;
  margin: 5px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #060e1b;
  border-radius: 8px;
  padding: 5px 20px;
  color: #ff6d00;
  background-color: #060e1b;
  cursor: pointer;
  display: inline-block;
  transition: 0.3s;
  box-shadow: 0 0 5px #0a0a0b;
}

.btn:hover{
  color: #060e1b;
  background-color: #ff6d00;
}

a {
  font-size: 16px;
}

section {
  width: 86%;
  margin: 30px auto;
  border-bottom-right-radius: 25px;
}

section ~div {
  margin: 10px auto;
}

.section-content {
  background-color: #2f4050;
  border: 2px solid #ff6d00;
  padding: 25px 25px;
  box-shadow: -4px -4px 5px #11191f, 8px 8px 5px #2f4050;;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.inline-block {
  display: inline-block;
}
